<!doctype html>
html(lang="en")

    include ../includes/head.pug

    body.overflow-x-hidden

        include ../includes/navbar.pug

        block Page_Content    
        include ../includes/scripts.pug