extends ../layouts/main-layout.pug


block styles
  link(rel='stylesheet' href='/css/register.css') 


block Page_Content
    include ../includes/alerts.pug
    .login-page
      .form
        form.login-form(action='/login' method='POST')
          input(type='hidden' name='_csrf' value=`${csrf_Token}`)
          input(type='text' name='user_name' placeholder='username')
          input(type='password' name='password' placeholder='password')
          button(type='submit') login
          p.message
            | Not registered? 
            a(href='/register') Create an account