extends ../layouts/main-layout.pug

block styles 
    link(rel='stylesheet' href='/css/error.css')
block Page_Content
    .mainbox
        .err 4
        i.far.fa-question-circle.fa-spin
        .err2 4
        .msg
            | Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
            p
            | Let's go 
            a(href='#') home
            |  and try from there.